body{
    background: #ffffff;
}
header{
    background:#C1B576;;
    height: auto;
    width: 101.45%;
    margin: -20px;
}
.blog-title{
    color: white;
    font-family: Lucida Sans Unicode;
    margin: 100px auto;
    display: block;
    text-align: center;
    font-size: 50px;
    border-bottom: 0.5px solid #fff;
    width: 75%;

}
.page-title{
    color: white;
    font-family: Lucida Sans Unicode;
    margin: 40px auto;
    display: block;
    text-align: center;
    font-size: 50px;
    width: 75%;
}
a{
    text-decoration: none;
    color:#fff;
    margin: 0 auto;
    display: inline-block;
    text-align: center;

}
a:hover{
    border-bottom: 1px solid #fff;
}
.buttonsContent{
    margin: -25px auto;
    display: block;
    padding: 10px;
    background: #7F7E7E;
    font-size: 20px;
    height: auto;
    text-align: center;


}
.buttonsContent a {
    margin: 30px;

}
.buttonsContent a:hover {
    border-bottom: 1px solid #fff;
    padding: -3px;
}
button{
    background: #424147;
    text-decoration: none;
    color:#fff;
}
.buttonLogout{
    float: right;
    margin-top:  40px ;
    margin-right: 20px;
}
.buttonHome{
    border-bottom: 1px solid #fff;
}
.image{
    margin: 20px auto;
    display: block;
    text-align: center;
}

footer{
    background: #7F7E7E;
    height: 200px;
    margin-bottom: -200px;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    display: block;
    font-family: Lucida Sans Unicode;

}
.footerImg{
    padding: 0px 20px;
}
.footerImg a:hover{
    border: none;
}

.button-to-top:hover{ 
      #fff !important;   
      bacground-color: #ed702b;  
      text-decoration: none;  }  
 
 .button-to-top {  
     display: none;  
     position: fixed;   
     bottom: 1rem;   
     right:1rem;  
     width:3.2rem;  
     height: 3.2rem;  
     line-height:3.0rem;   
     font-size:1.4rem;   
     color:#fff;  
      background-color: rgba(0,0,0,0.3);  
      text-decoration: none;   
      border-radius: 3.2rem;   
      text-align: center;   
      cursor: pointer; 
 }